@import "~src/colors";

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $brand-white;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 0 2rem;
  cursor: pointer;
  transition: box-shadow 0.1s linear;

  > h4 {
    width: 20rem;
    margin: 1rem 1rem;
  }

  > button {
    width: 5rem;
    margin: 1rem 1rem;
    cursor: pointer;
  }
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
