// Color definitions.

// Primary colors.
$brand-red: #dd2222;
$brand-orange: #fb6e00;
$brand-yellow: #ffc500;
$brand-purple: #720096;

// Secondary colors.
$brand-green: #1eb76d;
$brand-blue: #0677b2;
$brand-pink: #ff0092;

// Gray palette.
$brand-white: #ffffff;
$brand-light: #f9f9f9;
$brand-silver: #e6e6e6;
$brand-ash: #bab8bb;
$brand-cadet: #9d989f;
$brand-gray: #857f87;
$brand-dimgray: #645965;
$brand-anthracite: #3e323f;
$brand-black: #231f20;
